.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-box {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
/*     width: 520px; */
    width: 750px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 20px;
}
.modal-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-field-full {
    grid-column: 1 / -1;
}
.modal-field label {
    font-size: 13px;
    color: #555;
    font-weight: bold;
}
.modal-field input,
.modal-field select {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}
.modal-field textarea {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    resize: none;
    min-height: 80px;
    max-height: 80px;
    overflow-y: auto;
}
.modal-btn-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
}
.btn-cancel {
    padding: 8px 24px;
    background: #aaa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}